#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	background-color: #CF0E0E;
	border-radius: 75px;
	border-style: 75px;
	padding: 10px;
	text-align: center;
	opacity: 1;
}
.buttonStyle {
	border-radius: 75px;
	border: thin solid #E40B0B;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	height: 50px;
	width: 750px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}
table, th, tr{
	border: 3px solid black;
	text-align: center;
}
th, td{
	padding: 10px;
}
.img {
	position: static;
}